body{ 

    background-color: black;
    color: aliceblue;
    margin: 20px;


    
}

header{

    img{

        width: 200px;
        height: auto;
    }

    ul{

        display: inline-block;

    }

    li{

        display: inline-flex;
        vertical-align: 20px;
        margin: 15px;
    }


}
